.modal-login {
		width: 350px;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 1px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
        		position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
          .modal-login .form-group {
                    margin-bottom: 20px !important;
            }
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px !important;
		border-radius: 0px !important; 
                    font-size: 15px !important;
                    transition: all 0.5s !important;
                    border-top:transparent !important;
	}
    .modal-login .form-control {
        font-size: 13px;
    }
    .modal-login .form-control:focus {
        border-color: #a177ff;
    }
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #610f91 !important;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
                    background: #a117ff !important;
                    border: none;
	}
	.modal-login .hint-text a {
		color: #999;
          }
          
          .btn:focus{
                    background-color: #610f91 !important;
                    border:none;
          }

        .btn-primary-outline:hover{
                    color: #fff !important;
                    background-color: #610f91 !important;
                    border: none !important;
                    transition-duration: 0.2s;
        }
        .btn-primary:hover{
          background-color: #7708b8 !important;
          border: none !important;
}